<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anuncios - PetCare</title>
  <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,300;0,600;0,900;1,300;1,600&family=DM+Sans:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="full-height-layout">
    <%- include('plantillas/navbar') %> 

    <main class="main-anuncios">
        <h1 class="titulo-anuncios">Anuncios de servicios para mascotas</h1>
        <div class="filtros-container">
            <div class="filtros-anuncios">
                <select id="filtro-tipo-anuncio">
                    <option value="puntual/recurrente">Puntual/Recurrente</option>
                    <option value="puntual">Puntual</option>
                    <option value="recurrente">Recurrente</option>
                </select>
                <select id="filtro-tipo-servicio">
                    <option value="todos-servicios">Todos los servicios</option>
                    <option value="entrenador">Entrenadores</option>
                    <option value="transporte">Transporte</option>
                    <option value="cuidador">Cuidadores</option>
                </select>
                <select id="filtro-animal">
                    <option value="todos-animales">Todos los animales</option>
                    <option value="perro">Perros</option>
                    <option value="gato">Gatos</option>
                    <option value="roedor">Roedores</option>
                    <option value="ave">Aves</option>
                    <option value="reptil">Reptiles</option>
                    <option value="pez">Peces</option>
                    <option value="otro">Otros</option>
                </select>
                <select id="filtro-valoracion">
                    <option value="todas-valoraciones">Cualquier valoración</option>
                    <option value="1">1 estrella</option>
                    <option value="2">2 estrellas</option>
                    <option value="3">3 estrellas</option>
                    <option value="4">4 estrellas</option>
                    <option value="5">5 estrellas</option>
                </select>
                <input type="number" id="filtro-precio-max" placeholder="Precio máximo">
                <button id="boton-aplicar-filtros">Aplicar filtros</button>
            </div>
            <div class="filtros-ordenar">
                <label for="ordenar-por">Ordenar por:</label>
                <select id="ordenar-por">
                    <option value="predeterminado">Predeterminado</option>
                    <option value="precio-asc">Precio ascendente</option>
                    <option value="precio-desc">Precio descendente</option>
                    <option value="mejor-valorados">Mejor valorados</option>
                </select>
            </div>
        </div>
        
        <div class="anuncios-container" id="anuncios-container">
            
        </div>

        <div class="ver-mas-anuncios-container">
            <button id="ver-mas-anuncios" disabled>Ver más</button>
        </div>
        
    </main>

    <%- include('plantillas/footer') %>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/anuncios.js"></script>

</body>
</html>