<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error 404 - PetCare</title>
  <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,300;0,600;0,900;1,300;1,600&family=DM+Sans:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="full-height-layout">
    <!-- NAV -->
    <%- include('plantillas/navbar') %> 

    <main class="full-height-main">
        <section>
            <div class="error-container">
                <img src="/images/error500.png" alt="Error 500" class="error-image">
                <h1>Error 500</h1>
                <p class="error-text">Nuestro gato de mantenimiento ha vuelto a las andadas. Le pedimos explicaciones y sólo obtuvimos esto:</p>
                <p class = "error-text"><%= mensaje%></p>
                <br>
                <a class="btn-large" href="/">Volver al Inicio</a>
            </div>
        </section>
    </main>

    <%- include('plantillas/footer') %>

</body>
</html>
