<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error 404 - PetCare</title>
  <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,300;0,600;0,900;1,300;1,600&family=DM+Sans:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="full-height-layout">
    <!-- NAV -->
    <%- include('plantillas/navbar') %> 

    <main>
        <section>
            <div class="error-container">
                <h1>Error 500</h1>
                <p class="error-text">Parece que uno de nuestros peluditos mordió el cable que no debía.</p>
                <br>
                <a class="btn-large" href="/">Volver al Inicio</a>
            </div>
        </section>
    </main>

    <%- include('plantillas/footer') %>

</body>
</html>
