<nav>
      <div class="nav-logo">Pet<span>Care</span></div>

      <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/pets/mypets">Mis Animales</a></li>
            <% if(usuario) { %>
                
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="">Sobre nosotros</a></li>
            <% } else { %>
                <li><a href="/#features">Servicios</a></li>
                <li><a href="/#about">Sobre nosotros</a></li>
            <% } %>
            
      </ul>
      <div class="nav-actions">
        <% if(usuario) { %>
            <% if(usuario.tipo === 'client') { %>
            <a href="/user/perfilUsuario/<%= usuario.id %>" class="btn-ghost">Perfil</a>
            <% } else { %>
            <a href="/user/perfilEmpresa/<%= usuario.id %>" class="btn-ghost">Perfil</a>
            <% } %>
            <a href="/auth/logout" class="btn-primary">Cerrar sesión</a>
        <% } else { %>
            <a href="/auth/login" class="btn-ghost">Iniciar sesión</a>
            <a href="/auth/register" class="btn-primary">Registrarse</a>
        <% } %>
      </div>
    </nav>